@model TodoModel;
@{
    ViewData["Title"] = @Model.Name + " Delete";
}
<div class="row">
    <div class="col-12 col-6">
        <h3>Are you sure to delete ?</h3>
        <div class="card">

            <div class="card-body">
                <h5>
                    Name: @Model.Name
                </h5>
                <h5>
                    Duration: @Model.Duration
                </h5>

            </div>
            <div class="card-footer">
                <form asp-controller="Todo" asp-action="DeleteTodo" asp-route-id="@Model.Id" method="delete">
                    <button class="btn btn-block btn-danger" type="submit">Sure, Delete</button>
                </form>
            </div>
        </div>
    </div>

</div>
